name: Job Application Bot
on:
  workflow_dispatch: # زر التشغيل اليدوي

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run Job Bot
        env:
          API_KEY: ${{ secrets.API_KEY }}
        # تأكدنا أن الملف اسمه bot.py كما في مستودعك
        run: python bot.py
